<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script
      src="https://kit.fontawesome.com/a076d05399.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <div class=".container-fluid fter">
      <div class="row RW">
        <div class="col-sm-6 COL1">
          <h2>
            Why Use<br />
            our App?
          </h2>
        </div>
        <div class="col-sm-6">
          <img src="/assets/pics/icon.png" alt="" />
          <p>
            We help you to keep your medical history in your profile, all your
            medicine ,all your tests, all your X-rays in electronic page and get
            rid of all papers you may hold or lose them.
          </p>
        </div>
      </div>
    </div>
  </body>
</html>
