<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script
      src="https://kit.fontawesome.com/a076d05399.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <div class=".container-fluid fter">
      <div class="row RW">
        <div class="col-sm-6 COL1">
          <div class="contCOL1">
            <h2>
              Why Use<br />
              &nbsp; &nbsp; &nbsp; our App?
            </h2>
          </div>
        </div>
        <div class="col-sm-6 COL2">
          <div class="contCOL2">
            <img src="/assets/pics/icon.png" alt="" />
            <p>
              We help you to keep your medical history in your profile, all your
              medicine ,all your tests, all your X-rays in electronic page and
              get rid of all papers you may hold or lose them.
            </p>
          </div>
        </div>
      </div>
      <!-- ----------------------------------------------------------- -->
      <div class="row rw2">
        <div class="CONrow2">
          <div class="col-sm-4 R2">
            <h3>ABOUT US</h3>
          </div>
          <div class="col-sm-4 R2">
            <h3>&nbsp; &nbsp;HELP</h3>
          </div>
          <div class="col-sm-4 R2">
            <h3>CONTACT</h3>
          </div>

          <div class="hr">
            <hr />
          </div>
          <div class="col-sm-4 R2">
            <p class="fot">
              We are team from Assuit University, <br /><br />
              We aim to help you develop your lifestyle
              <br /><br />
              with the help of technology
            </p>
          </div>
          <div class="col-sm-4 R2">
            <p class="fot">
              We can help you <br />
              <br />
              anywhere you are, <br /><br />
              ypu can contact us.<br /><br />
              we are here! &nbsp; &nbsp; <i class="fas fa-heart"></i>
            </p>
          </div>
          <div class="col-sm-4 R2">
            <p class="fot">
              <span class="glyphicon">&#xe021;</span> &nbsp; &nbsp; &nbsp;
              &nbsp; Egypt , Assiut
            </p>
            <p class="fot">
              <i class="fas fa-comment-alt"></i> &nbsp; &nbsp; &nbsp; &nbsp;
              Info@gmail.com
            </p>
            <p class="fot">
              <i class="fas fa-phone"></i> &nbsp; &nbsp; &nbsp; &nbsp; +&nbsp;
              20 ### ### ###
            </p>
            <p class="fot">
              <i class="fas fa-fax"></i> &nbsp; &nbsp; &nbsp; &nbsp; 088&nbsp;
              #######
            </p>
          </div>
        </div>
      </div>
      <!-- --------------------------------------------------------- -->
      <div class="row rw3">
        <div class="socialcon">
          <a href=""
            ><img class="icon" src="/assets/pics/facebook.jpg" alt=""
          /></a>

          <a href=""
            ><img class="icon" src="/assets/pics/gmail.jpg" alt=""
          /></a>

          <a href=""
            ><img class="icon" src="/assets/pics/linkedin.png" alt=""
          /></a>

          <a href="">
            <img class="icon" src="/assets/pics/twitter.jpg" alt=""
          /></a>
        </div>
      </div>
    </div>
  </body>
</html>
