<div class="fter">
  <div class="container">
    <!-- ----------------------------------------------------------- -->
    <div class="row">
      <div class="col-md-6 d-flex align-items-center">

        <p class="footer-routes">ABOUT US</p>


        <p class="footer-routes">HELP</p>


        <p class="footer-routes">CONTACT</p>


      </div>
      <div class="col-md-6">
        <a href=""><img class="icon" src="/assets/pics/facebook.jpg" alt="" /></a>

        <a href=""><img class="icon" src="/assets/pics/gmail.jpg" alt="" /></a>

        <a href=""><img class="icon" src="/assets/pics/linkedin.png" alt="" /></a>

        <a href="">
          <img class="icon" src="/assets/pics/twitter.jpg" alt="" /></a>
      </div>

    </div>
  </div>
</div>
