<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class=".container-fluid SgnD">
      <div class="c1">
        <form>
          <fieldset>
            <br /><br />
            <label>Lab Name:</label>
            <br />
            <input
              type="text"
              placeholder="Type Lab Name"
              required
            /><br /><br />

            <label>Lab ID: </label
            ><span style="font-size: small">(Registration Number)</span>
            <br />
            <input type="text" placeholder="Type Lab ID" required /><br /><br />

            <label>Phone Number:</label>
            <br />
            <input
              type="text"
              placeholder="Type Lab Phone Number"
              required
            /><br /><br />

            <label>Lab Adress:</label>
            <br />
            <input
              type="text"
              placeholder="Type Lab adress"
              required
            /><br /><br />

            <label> Create Password:</label>
            <br />
            <input
              type="password"
              placeholder="Create A Password"
              required
            /><br /><br />

            <label>Confirm Passowrd:</label>
            <br />
            <input
              type="password"
              placeholder="Confirm Your Password"
              required
            /><br /><br />

            <button>Submit</button>
          </fieldset>
        </form>
      </div>
      <div class="c2">
        <img src="/assets/pics/labT.jpg" alt="" />
      </div>
    </div>
  </body>
</html>
