<html>
    <head>
        <title>

        </title>


        <link rel="stylesheet" href="Doctor.css">
    </head>
    <body>

        <form>
            <fieldset>
               
        <label >Name:</label>
        <input type="text" placeholder="Type Your Name" required ><br><br><br><br>

        <label >ID:</label>
        <input type="text" placeholder="Type Your ID" required><br><br><br><br>

        <label >Phone Number:</label>
        <input type="text" placeholder="Type Your Phone Number" required ><br><br><br><br>

        <label >Email:</label>
        <input type="email" placeholder="Type Your Email" required><br><br><br><br>

        <label >Location:</label>
        <input type="text" placeholder="Type Your Location" required><br><br><br><br>

        <label> Create Password:</label>
        <input type="password" placeholder="Create A Password" required><br><br><br><br>

        <label>Confirm Passowrd:</label>
        <input type="password" placeholder="Confirm Your Password" required><br><br><br><br>
        
        <button>Submit</button>
            
    </fieldset>
        
    </form>
    <p> Don't Worry We Are Here To hElp You!!</p>


        
    </body>
</html>
