.Doc_page {
  height: 800px;
  width: 100vw;
  margin-top: 5%;
}
.row {
  height: 100%;
  width: 100%;
}
#Check {
  height: 45%;
  background-color: #dae7e7;
  filter: drop-shadow(0 4px 4px rgba(0.25, 0.25, 0.25, 0.25));
  border: 2px solid #e3f8f9;
  margin-left: 19%;
  margin-top: 10%;
}
button:active {
  background-color: #5c959d;
  border: 2px solid #5c959d;
  box-shadow: 0 2px #5c959d;
  transform: translateY(1px);
}
#SSN {
  width: 65%;
  height: 20%;
  margin-left: 17%;
  margin-top: 7%;
  border: none;
  background-color: white;
  border-top: 2px solid #e3f8f9;
  border-bottom: 2px solid #e3f8f9;
  float: left;
}

#srch {
  border: 2px solid #5c959d;
  background-color: #5c959d;
  width: 50%;
  height: 19%;
  margin-top: 7%;
  margin-left: 25%;
  border-radius: 70px;
  color: white;
  font-size: 25px;
  font-family: "Lobster", cursive;
  font-family: "Shalimar", cursive;
  font-family: "Titillium Web", sans-serif;
}
.list {
  height: 90%;
  margin-top: 2%;
  background-color: #f8f9fa;
  border-right: 7px solid #e3f8f9;
  border-left: 0.1 px solid #74d0cd;
  filter: drop-shadow(0 4px 4px rgba(0.25, 0.25, 0.25, 0.25));
  text-align: center;
}
#button1 {
  margin-top: 15%;
}
button {
  border: 2px solid #5c959d;
  background-color: #5c959d;
  width: 90%;
  height: 6%;
  margin-top: 15%;
  border-radius: 5px;
  color: white;
  font-size: 15px;
  font-family: "Lobster", cursive;
  font-family: "Shalimar", cursive;
  font-family: "Titillium Web", sans-serif;
}
h2 {
  font-family: "Lobster", cursive;
  font-family: "Shalimar", cursive;
  font-family: "Titillium Web", sans-serif;
  margin-left: 5%;
  margin-top: 5%;
  color: #445161;
}

.forms {
  filter: drop-shadow(0 4px 4px rgba(0.25, 0.25, 0.25, 0.25));
  width: 100%;
  height: 90%;
  margin-top: 2%;
}
.divInfo {
  width: 100%;
  height: 100%;

  text-align: center;
}
#user {
  margin-top: 10%;
}
.Infos {
  width: 80%;
  height: 45%;
  background-color: #f8f9fa;
  margin-left: 10%;
  margin-top: 5%;
  filter: drop-shadow(0 4px 4px rgba(0.25, 0.25, 0.25, 0.25));
  border-right: 7px solid #e3f8f9;
  border-bottom: 7px solid #e3f8f9;
}
.userdatalabel {
  width: 20%;
  float: left;
  color: #6c757d;
  border: none;
  margin-top: 5%;
}
.userdataP {
  border: 1px solid #6c757d;
  background-color: #e9ecef;
  width: 60%;
  height: 12%;
  color: #6c757d;
  margin-left: 5%;
  margin-top: 3%;
  text-align: left;
  padding-left: 1%;
  padding-top: 1%;
  font-weight: 200;
}
.divshow {
  width: 100%;
  height: 100%;
}
.card {
  width: 28%;
  height: 30%;
  background-color: #f8f9fa;
  float: left;
  margin-left: 4%;
  margin-top: 10%;
  text-align: center;
  border-radius: 10px;
}

#Hcard {
  margin-top: 25%;
  color: #445161;
  font-weight: 600;
}
#viewHx {
  color: #adb5bd;
}
.cardBUT {
  width: 30%;
  height: 20%;
  background-color: #e3f8f9;
  color: #5c959d;
  border: 2px solid #e3f8f9;
  border-radius: 25px;
  font-size: 15px;
  font-family: "Lobster", cursive;
  font-family: "Shalimar", cursive;
  font-family: "Titillium Web", sans-serif;
  margin-left: 35%;
}
.cardBUT:active {
  background-color: #e3f8f9;
  border: 2px solid #e3f8f9;
  box-shadow: 0 2px #e3f8f9;
  transform: translateY(1px);
}
.drgfrm {
  width: 95%;
  height: 90%;
  margin-top: 3%;
  margin-left: 3%;
  overflow: scroll;
  overflow-x: hidden;
  border: 2px solid red;
}
.medbt {
  width: 25%;
  height: 50px;
  background-color: #97d1d8;
  border: #97d1d8;
  color: white;
  font-size: 20px;
  font-weight: bold;
  margin-left: 5%;
  border-radius: 20px;
  border-left: 4px solid #5c959d;
  border-right: 4px solid #5c959d;
}
#closeBUt {
  background-image: url("/assets/pics/cancel.png");
  background-size: 100% 100%;
  width: 40px;
  height: 40px;
  float: right;
  border-radius: 50%;
  border: none;
  margin-top: 0;
  margin-left: 10%;
}
#required {
  font-size: 25px;
  color: red;
  float: right;
  margin-top: 8%;
  font-weight: bold;
}
/* ///////////////////////////////////////P//////////////////////////////////// */
h4,
h5,
h6 {
  color: #445161;
  margin-left: 5%;
  margin-top: 2%;
  font-weight: bolder;
  font-size: 20px;
}
.Continer {
  width: 100%;
  height: 100%;
  overflow: scroll;
  overflow-x: hidden;
}
.Cont {
  border: 2px dotted #5c959d;
  width: 83%;
  height: 100%;
  margin-left: 10%;
  overflow: scroll;
  overflow-x: hidden;
}
.med {
  width: 80%;
  height: 80%;
  margin-left: 10%;
  margin-top: 5%;
  padding-top: 5%;
  background-color: #f8f9fa;
  filter: drop-shadow(0 4px 4px rgba(0.25, 0.25, 0.25, 0.25));
}
.userdatalabel_P {
  width: 30%;
  float: left;
  color: #6c757d;
  border: none;
  margin-top: 4%;
  margin-left: 2%;
}
.userdataP_P {
  border: 1px solid #6c757d;
  background-color: #e9ecef;
  width: 60%;
  height: 7%;
  color: #6c757d;
  margin-left: 5%;
  margin-top: 3%;
  text-align: left;
  padding-left: 1%;
  padding-top: 1%;
  font-weight: 200;
}
#datap_P {
  height: 20%;
}
/* //////////////////////////////////////////////////T///////////////////////// */

.list_T {
  width: 80%;
  height: 75%;
  margin-left: 10%;
  margin-top: 5%;
  border-radius: 10%;
  padding-top: 5%;
  background-color: #f8f9fa;
  filter: drop-shadow(0 4px 4px rgba(0.25, 0.25, 0.25, 0.25));
}
.userdatalabel_T {
  width: 40%;
  color: #6c757d;
  border: none;
  margin-top: 4%;
  margin-left: 2%;
}
.userdataP_T {
  border: 1px solid #6c757d;
  background-color: #e9ecef;
  width: 90%;
  height: 10%;
  color: #6c757d;
  margin-left: 5%;
  margin-top: 3%;
  text-align: left;
  padding-left: 1%;
  padding-top: 1%;
  font-weight: 200;
}

#datap_T {
  height: 30%;
}
/* ///////////////////////////////////////////////////pup up/////////////////////// */
.popupModal-dialog {
  position: absolute;
  width: 70%;
  left: 17%;
  top: 0;
  z-index: 1041;
}
.popupModal-content {
  position: relative;
  background-color: #ffffff;
  border: 1px solid #999999;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  background-clip: padding-box;
  outline: none;
  height: 830px;
}

.popupModal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  background-color: #000000;
  opacity: 0.5;
  filter: alpha(opacity=50);
}

.popupModal-body {
  position: relative;
  padding: 20px;
  width: 100%;
  height: 100%;
}

/* /////////////////////////////////////////////////SCROLL DESIGN ///////////////////////////////////////////////*/
/* width */
::-webkit-scrollbar {
  width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: 0 0 5px #dae7e7;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #5c959d;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #445161;
}
::-webkit-scrollbar-button {
  height: 5px;
}

/* /////////////////////////////////////////////////MED FORM//////////////////////////////////////////////// */
/* form {

} */
label {
  margin-top: 2%;
}
/* [class*="col-"] {
  border: 1px solid green;
} */
/* .row {
  border: 1px solid red;
} */
#name-select,
#formof-select,
#strength-select,
#mthod-select {
  height: 35px;
}
#formof-select {
  width: 95%;
}
#strength-select {
  float: right;
}
#name-select {
  margin-left: 1%;
  width: 95%;
}
#other {
  margin-left: 1%;
  width: 95%;
}
.labelFromin {
  font-size: 15px;
  color: #495057;
  font-weight: 100;
  margin-top: 5%;
  margin-left: 5%;
}
.labeldate {
  font-size: 15px;
  color: #495057;
  font-weight: 100;
  margin-top: 5%;
}
.in1 {
  width: 10%;
  margin-left: 1%;
}
.in2 {
  width: 10%;

  padding-left: 5%;
}
.in3 {
  width: 10%;

  padding-right: 5%;
}
.in4 {
  width: 20%;
}
.in5 {
  width: 30%;
}
#addDosage {
  float: right;
  font-weight: bold;
  color: #5c959d;
  margin-right: 1%;
  margin-top: 1%;
}
#start,
#till {
  float: right;
  margin-top: 2%;
  margin-right: 5%;
}
.dat {
  width: 50%;
}
/* /////////////////////////////////////// */
::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #6c757d;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #6c757d;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #6c757d;
}

/* //////////////////////////////////////////////////////////////////DOSE FORM///////////////////////////////////// */
#strength-select,
#mthod-select {
  height: 35px;
}
#strength-select {
  float: right;
}
.labelFromin {
  font-size: 15px;
  color: #495057;
  font-weight: 100;
  margin-top: 5%;
  margin-left: 5%;
}

/* /////////////////////////////////////// */
::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #6c757d;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #6c757d;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #6c757d;
}

/* /////////////////////////////////////////////////////TEST FORM////////////////////////////////// */
form {
  width: 90%;
  margin-top: 5%;
  margin-left: 3%;
}

#name-select {
  height: 50px;
}
/* ////////////////////////////////////////////////////////XRAY FORM///////////////////////// */
form {
  width: 90%;
  margin-top: 5%;
  margin-left: 3%;
}

#name-select {
  height: 50px;
}
