<div class="container Doc_page">
  <div class="col-8" id="Check" *ngIf="search">
    <h2>Patient SSN:</h2>
    <input
      type="text"
      class="form-control"
      id="SSN"
      [(ngModel)]="PatientSSn"
      required
      name="PSSN"
    />
    <span *ngIf="spanRequired" id="required">requird!</span>
    <button id="srch" (click)="Start()">Search</button>
  </div>

  <div class="row" id="select" *ngIf="select">
    <div class="col-3 list">
      <h2>Actions</h2>
      <button id="button1" (click)="PInfo()">show Patient Info</button>
      <button (click)="FuncShow()">Show Hx</button>
      <button (click)="Drug()">Add Prescription</button>
      <button (click)="Tests()">Add Medical Test</button>
      <button (click)="XRays()">Add X-Ray Teat</button>
    </div>

    <div class="col-9 forms">
      <div class="divInfo" *ngIf="Pinfo">
        <img id="user" src="/assets/pics/UserPatient.png" alt="" />
        <div class="Infos">
          <label class="userdatalabel">Name</label>
          <label class="userdataP">{{ PHX?.Name }}</label>

          <label class="userdatalabel">Age</label>
          <label class="userdataP">{{ PHX?.Age }}</label>

          <label class="userdatalabel">Address</label>
          <label class="userdataP">{{ PHX?.Address }}</label>

          <label class="userdatalabel">Email</label>
          <label class="userdataP">{{ PHX?.Email }}</label>

          <label class="userdatalabel">Phone</label>
          <label class="userdataP">{{ PHX?.Phone }}</label>
        </div>
      </div>
      <div class="divshow" *ngIf="show">
        <h2 id="viewHx">View Medical History</h2>

        <div class="card">
          <h4 id="Hcard">Prescriptions</h4>
          <button class="cardBUT" (click)="openForm1()">View</button>
        </div>
        <div class="card">
          <h4 id="Hcard">Medical Tests</h4>
          <button class="cardBUT" (click)="openForm2()">View</button>
        </div>
        <div class="card">
          <h4 id="Hcard">X-Ray Tests</h4>
          <button class="cardBUT" (click)="openForm3()">View</button>
        </div>
      </div>
      <div class="drgfrm" *ngIf="adddrug">
        <app-med-form *ngFor="let m of meds"></app-med-form>
        <button type="button" (click)="AddMed()" class="medbt">
          Add Medicine
        </button>
        <button type="button" class="medbt">submit</button>
        <br />
        <br />
      </div>
      <div class="testfrm" *ngIf="addtests">
        <app-test-form></app-test-form>
        <br />
        <br />
        <button type="button" class="medbt">submit</button>
        <br />
        <br />
      </div>
      <div class="Xraysfrm" *ngIf="addxrays">
        <app-xray-form></app-xray-form>
        <br /><br />
        <button type="button" class="medbt">submit</button>
        <br /><br />
      </div>
    </div>
  </div>
</div>

<div *ngIf="popup">
  <div class="popupModal-backdrop"></div>

  <div class="popupModal-dialog">
    <div class="popupModal-content">
      <div class="popupModal-body">
        <button id="closeBUt" (click)="closeForm()"></button>
        <div class="Continer" *ngIf="showPrscription">
          <div class="Cont" *ngFor="let pre of PHX?.prescription">
            <h4>Doc name:</h4>
            <h5>Prescription Date:</h5>
            <div class="med">
              <!-- *ngFor="let med of PHX?.prescription." -->
              <label class="userdatalabel_P">Medicine name:</label>
              <label class="userdataP_P">Name</label>
              <label class="userdatalabel_P">Form of Medicine</label>
              <label class="userdataP_P">Name</label>
              <label class="userdatalabel_P">Strength:</label>
              <label class="userdataP_P">Name</label>
              <label class="userdatalabel_P">Method of Intake:</label>
              <label class="userdataP_P">Name</label>
              <label class="userdatalabel_P">Dosage:</label>
              <label class="userdataP_P" id="datap_P">
                <!-- ngfor -->
                <p>dose1</p>
                <p>dose1</p>
                <p>dose1</p>
              </label>
              <label class="userdatalabel_P">Other instractions:</label>
              <label class="userdataP_P" id="datap_P">Name</label>
            </div>
          </div>
        </div>
        <div class="Continer" *ngIf="showtest">
          <div class="list_T">
            <!-- *ngFor="let prt of PHX?.Patirnt_Tests" -->
            <h5>Doc name:</h5>
            <h6>Test Date:</h6>
            <label class="userdatalabel_T">Test name:</label>
            <label class="userdataP_T">name</label>
            <label class="userdatalabel_T">Result</label>
            <label class="userdataP_T" id="datap_T"> name</label>
          </div>
        </div>
        <div class="Continer" *ngIf="showXRays">
          <div class="list_T">
            <!-- *ngFor="let prx of PHX?.Patient_Xrays" -->
            <h5>Doc name:</h5>
            <h6>X-Ray Date:</h6>
            <label class="userdatalabel_T">X-Ray name:</label>
            <label class="userdataP_T">name</label>
            <label class="userdatalabel_T">Result</label>
            <label class="userdataP_T" id="datap_T"> name</label>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
