<div class="container Doc_page">
  <div class="col-8" id="Check" *ngIf="search">
    <h2>Patient SSN:</h2>
    <input
      type="text"
      class="form-control"
      id="SSN"
      [(ngModel)]="PatientSSn"
      required
      name="PSSN"
    />
    <span *ngIf="spanRequired" id="required">requird!</span>
    <button id="srch" (click)="Start()">Search</button>
  </div>

  <div class="row" id="select" *ngIf="select">
    <div class="col-3 list">
      <h2>Actions</h2>
      <button id="button1" (click)="PInfo()">show Patient Info</button>
      <button (click)="FuncShow()">Show Hx</button>
      <button (click)="Drug()">Add Prescription</button>
      <button (click)="Tests()">Add Medical Test</button>
      <button (click)="XRays()">Add X-Ray Teat</button>
    </div>

    <div class="col-9 forms">
      <div class="divInfo" *ngIf="Pinfo">
        <img id="user" src="/assets/pics/UserPatient.png" alt="" />
        <div class="Infos">
          <label class="userdatalabel">Name</label>
          <label class="userdataP">{{ PHX?.Name }}</label>

          <label class="userdatalabel">Age</label>
          <label class="userdataP">{{ PHX?.Age }}</label>

          <label class="userdatalabel">Address</label>
          <label class="userdataP">{{ PHX?.Address }}</label>

          <label class="userdatalabel">Email</label>
          <label class="userdataP">{{ PHX?.Email }}</label>

          <label class="userdatalabel">Phone</label>
          <label class="userdataP">{{ PHX?.Phone }}</label>
        </div>
      </div>
      <div class="divshow" *ngIf="show">
        <h2 id="viewHx">View Medical History</h2>

        <div class="card">
          <h4 id="Hcard">Prescriptions</h4>
          <button class="cardBUT" (click)="getPresscs()">View</button>
        </div>
        <div class="card">
          <h4 id="Hcard">Medical Tests</h4>
          <button class="cardBUT" (click)="openForm2()">View</button>
        </div>
        <div class="card">
          <h4 id="Hcard">X-Ray Tests</h4>
          <button class="cardBUT" (click)="openForm3()">View</button>
        </div>
      </div>
      <div class="drgfrm" *ngIf="adddrug">
        <!-- /////////////////////////////////////////////////////////////////////////////////////// -->
        <form [formGroup]="prescription_form">
          <label for="">Medicine Name:</label>
          <div class="row">
            <div class="col-10">
              <select
                name="drgname"
                id="name-select"
                formControlName="drugID"
                class="form-control"
                [(ngModel)]="presc.DrugsData[0].DrugName"
              >
                <option value="">Please choose a medicine</option>
                <!-- <option [value]="item?.ID" *ngFor="let item of drugs">
                  {{ item?.Name }} -->
                <option value="1">medicine1</option>
              </select>
            </div>
          </div>
          <label for="">Details of medicine:</label>
          <br />
          <div class="row">
            <div class="col-2">
              <label for="" class="labelFromin">Form of medicine:</label>
            </div>
            <div class="col-8">
              <select name="" id="formof-select" class="form-control">
                <option value="">Form of medicine</option>
                <option value="1">Tablet</option>
                <option value="2">Capsules</option>
                <option value="3">Liquid</option>
                <option value="4">injection</option>
              </select>
            </div>
          </div>
          <br />
          <div class="row">
            <div class="col-2">
              <label for="" class="labelFromin">Strength:</label>
            </div>
            <div class="col-md-2">
              <input type="text" class="col-6 form-control" placeholder="#" />
            </div>
            <div class="col-2">
              <select
                name=""
                id="strength-select"
                class="col-6 form-control"
                [(ngModel)]="presc.DrugsData[0].strength"
              >
                <option value="">mg</option>
                <option value="1">15</option>
                <option value="2">50</option>
                <option value="3">100</option>
                <option value="4">500</option>
                <option value="5">1000</option>
              </select>
            </div>
            <div class="col-2">
              <label for="" class="labelFromin">Method of Intake:</label>
            </div>
            <div class="col-4">
              <select
                name=""
                id="mthod-select"
                class="form-control"
                [(ngModel)]="presc.DrugsData[0].Intake"
              >
                <option value="">Method of Intake</option>
                <option value="1">Oral</option>
                <option value="2">Injection</option>
                <option value="3">Sublingual and buccal</option>
                <option value="4">Otic</option>
                <option value="5">Nasal</option>
              </select>
            </div>
          </div>
        </form>

        <label for="">Dosage:</label>
        <!-- /////////////////////////////////////////// -->
        <div>
          <div class="row">
            <div class="col-2">
              <label for="" class="labelFromin">Quantity:</label>
            </div>
            <div class="col-6">
              <input
                type="text"
                class="form-control"
                placeholder="#"
                [(ngModel)]="presc.DrugsData[0].Quantity"
              />
            </div>
            <div class="col-md-4">
              <select name="" id="strength-select" class="col-7 form-control">
                <option value="">e.g daily</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
              </select>
            </div>
          </div>

          <div class="row" style="margin-top: 10px">
            <div class="col-2">
              <label id="when" for="" class="labelFromin">When:</label>
            </div>
            <div class="col-4">
              <select
                name=""
                id="mthod-select"
                class="form-control"
                [(ngModel)]="presc.DrugsData[0].when"
              >
                <option value="">e.g Before Food</option>
                <option value="1">Before Food</option>
                <option value="2">after Food</option>
              </select>
            </div>
          </div>

          <!-- ////////////////////////////////////////////////////////////////////////////// -->
          <!-- dosage itration -->
          <label for="">Other Instructions:</label>
          <div class="row" style="height: unset !important">
            <div class="col-10">
              <textarea
                id="other"
                class="form-control"
                rows="5"
                placeholder="Note to patient e.g Medicine to be taken 30 min before meal."
                [(ngModel)]="presc.DrugsData[0].OtherInstructions"
              ></textarea>
            </div>
          </div>
          <label for="">Duration:</label>
          <div class="row" style="height: unset !important">
            <div class="col-5 dat">
              <label for="" class="col-3 labeldate">Start on:</label>
              <input
                class="col-7 form-control"
                type="date"
                id="start"
                value="01/01/2022"
                [(ngModel)]="presc.DrugsData[0].DurationStart"
              />
            </div>
            <div class="col-5 dat">
              <label for="" class="col-2 labeldate">Till:</label>
              <input
                class="col-7 form-control"
                type="date"
                id="till"
                value="01/01/2022"
                [(ngModel)]="presc.DrugsData[0].DurationEnd"
              />
            </div>
          </div>
        </div>
        <span id="addDosage"
          ><img src="assets/pics/plus.png" alt="" /> Add Another Dosage</span
        >

        <!-- //////////////////////////////////////////////////////////////////////////////////////// -->
        <button type="button" (click)="AddMed()" class="medbt">
          Add Medicine
        </button>
        <button type="button" (click)="addPresc()" class="medbt">submit</button>
        <br />
        <br />
      </div>
      <div class="testfrm" *ngIf="addtests">
        <!-- ///////////////////////////////////////// -->
        <form>
          <label for="">Medical Test Name:</label>
          <div class="row">
            <div class="col-11">
              <select
                name=""
                id="name-select"
                class="form-control"
                [(ngModel)]="test.name"
              >
                <option value="">Please choose a Test</option>
                <!-- <option value="" *ngFor="let item of tests">{{item?.}}</option> -->
              </select>
            </div>
          </div>
          <br />
          <label for="">Other Instructions:</label>
          <div class="row" style="height: unset !important">
            <div class="col-11">
              <textarea
                id="other"
                class="form-control"
                rows="5"
                placeholder="Note to patient ."
              ></textarea>
            </div>
          </div>
        </form>
        <!-- //////////////////////////////////// -->
        <br />
        <br />
        <button type="button" class="medbt">submit</button>
        <br />
        <br />
      </div>
      <div class="Xraysfrm" *ngIf="addxrays">
        <!-- /////////////////////////////////////////////////// -->
        <form>
          <label for="">Medical X-Rays Name:</label>
          <div class="row">
            <div class="col-11">
              <select
                name=""
                id="name-select"
                class="form-control"
                [(ngModel)]="xray.name"
              >
                <option value="">Please choose a X-ray</option>
                <!-- <option value="" *ngFor="let item of xrays">{{item?.}}</option> -->
              </select>
            </div>
          </div>
          <br />
          <label for="">Other Instructions:</label>
          <div class="row">
            <div class="col-11">
              <textarea
                id="other"
                class="form-control"
                rows="5"
                placeholder="Note to patient ."
              ></textarea>
            </div>
          </div>
        </form>
        <!-- /////////////////////////////////////////// -->
        <br /><br />
        <button type="button" class="medbt">submit</button>
        <br /><br />
      </div>
    </div>
  </div>
</div>

<div *ngIf="popup">
  <div class="popupModal-backdrop"></div>

  <div class="popupModal-dialog">
    <div class="popupModal-content">
      <div class="popupModal-body">
        <button id="closeBUt" (click)="closeForm()"></button>
        <div class="Continer" *ngIf="showPrscription">
          <div class="Cont" *ngFor="let pre of PHX?.prescription">
            <h4>Doc name:</h4>
            <h5>Prescription Date:</h5>
            <div class="med">
              <!-- *ngFor="let med of PHX?.prescription." -->
              <label class="userdatalabel_P">Medicine name:</label>
              <label class="userdataP_P">Name</label>
              <label class="userdatalabel_P">Form of Medicine</label>
              <label class="userdataP_P">Name</label>
              <label class="userdatalabel_P">Strength:</label>
              <label class="userdataP_P">Name</label>
              <label class="userdatalabel_P">Method of Intake:</label>
              <label class="userdataP_P">Name</label>
              <label class="userdatalabel_P">Dosage:</label>
              <label class="userdataP_P" id="datap_P">
                <!-- ngfor -->
                <p>dose1</p>
                <p>dose1</p>
                <p>dose1</p>
              </label>
              <label class="userdatalabel_P">Other instractions:</label>
              <label class="userdataP_P" id="datap_P">Name</label>
            </div>
          </div>
        </div>
        <div class="Continer" *ngIf="showtest">
          <div class="list_T">
            <!-- *ngFor="let prt of PHX?.Patirnt_Tests" -->
            <h5>Doc name:</h5>
            <h6>Test Date:</h6>
            <label class="userdatalabel_T">Test name:</label>
            <label class="userdataP_T">name</label>
            <label class="userdatalabel_T">Result</label>
            <label class="userdataP_T" id="datap_T"> name</label>
          </div>
        </div>
        <div class="Continer" *ngIf="showXRays">
          <div class="list_T">
            <!-- *ngFor="let prx of PHX?.Patient_Xrays" -->
            <h5>Doc name:</h5>
            <h6>X-Ray Date:</h6>
            <label class="userdatalabel_T">X-Ray name:</label>
            <label class="userdataP_T">name</label>
            <label class="userdatalabel_T">Result</label>
            <label class="userdataP_T" id="datap_T"> name</label>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
