<div class="container Doc_page">
  <div class="col-8" id="Check" *ngIf="search">
    <h2>Patient SSN:</h2>
    <input type="text" class="form-control" id="SSN" />
    <button id="srch" (click)="Start()">Search</button>
  </div>

  <div class="row" id="select" *ngIf="select">
    <div class="col-3 list">
      <h2>Actions</h2>
      <button id="button1" (click)="FuncShow()">Show Hx</button>
      <button (click)="Drug()">Add Prescription</button>
      <button (click)="Tests()">Add Medical Test</button>
      <button (click)="XRays()">Add X-Ray Teat</button>
    </div>

    <div class="col-9 forms">
      <div class="divshow" *ngIf="show">
        <h2 id="viewHx">View Medical History</h2>

        <div class="card">
          <h4>Prescriptions</h4>
          <button class="cardBUT" (click)="openForm1()">View</button>
        </div>
        <div class="card">
          <h4>Medical Tests</h4>
          <button class="cardBUT" (click)="openForm2()">View</button>
        </div>
        <div class="card">
          <h4>X-Ray Tests</h4>
          <button class="cardBUT" (click)="openForm3()">View</button>
        </div>
      </div>
      <div class="drgfrm" *ngIf="adddrug">
        <app-med-form *ngFor="let m of meds"></app-med-form>
        <button type="button" (click)="AddMed()" class="medbt">
          Add Medicine
        </button>
        <button type="button" class="medbt">submit</button>
        <br />
        <br />
      </div>
      <div class="testfrm" *ngIf="addtests">
        <app-test-form></app-test-form>
        <br />
        <br />
        <button type="button" class="medbt">submit</button>
        <br />
        <br />
      </div>
      <div class="Xraysfrm" *ngIf="addxrays">
        <app-xray-form></app-xray-form>
        <br /><br />
        <button type="button" class="medbt">submit</button>
        <br /><br />
      </div>
    </div>
  </div>
</div>

<div *ngIf="popup">
  <div class="popupModal-backdrop"></div>

  <div class="popupModal-dialog">
    <div class="popupModal-content">
      <div class="popupModal-body">
        <button id="closeBUt" (click)="closeForm()"></button>
        <div *ngIf="showPrscription">
          <p style="margin-left: 20%">Data Here,prescriptions</p>
        </div>
        <div *ngIf="showtest">
          <p style="margin-left: 20%">Data Here,Tests</p>
        </div>
        <div *ngIf="showXRays">
          <p style="margin-left: 20%">Data Here,xrays</p>
        </div>
      </div>
    </div>
  </div>
</div>
