.Doc_page {
  height: 800px;
  width: 100vw;
  margin-top: 5%;
}
.row {
  height: 100%;
  width: 100%;
}
#Check {
  height: 45%;
  background-color: #dae7e7;
  filter: drop-shadow(0 4px 4px rgba(0.25, 0.25, 0.25, 0.25));
  border: 2px solid #e3f8f9;
  margin-left: 19%;
  margin-top: 10%;
}
button:active {
  background-color: #5c959d;
  border: 2px solid #5c959d;
  box-shadow: 0 2px #5c959d;
  transform: translateY(1px);
}
#SSN {
  width: 65%;
  height: 20%;
  margin-left: 17%;
  margin-top: 7%;
  border: none;
  background-color: white;
  border-top: 2px solid #e3f8f9;
  border-bottom: 2px solid #e3f8f9;
  float: left;
}

#srch {
  border: 2px solid #5c959d;
  background-color: #5c959d;
  width: 50%;
  height: 19%;
  margin-top: 7%;
  margin-left: 25%;
  border-radius: 70px;
  color: white;
  font-size: 25px;
  font-family: "Lobster", cursive;
  font-family: "Shalimar", cursive;
  font-family: "Titillium Web", sans-serif;
}
.list {
  height: 90%;
  margin-top: 2%;
  background-color: #f8f9fa;
  border-right: 7px solid #e3f8f9;
  border-left: 0.1 px solid #74d0cd;
  filter: drop-shadow(0 4px 4px rgba(0.25, 0.25, 0.25, 0.25));
  text-align: center;
}
#button1 {
  margin-top: 15%;
}
button {
  border: 2px solid #5c959d;
  background-color: #5c959d;
  width: 90%;
  height: 6%;
  margin-top: 15%;
  border-radius: 5px;
  color: white;
  font-size: 15px;
  font-family: "Lobster", cursive;
  font-family: "Shalimar", cursive;
  font-family: "Titillium Web", sans-serif;
}
h2 {
  font-family: "Lobster", cursive;
  font-family: "Shalimar", cursive;
  font-family: "Titillium Web", sans-serif;
  margin-left: 5%;
  margin-top: 5%;
  color: #445161;
}

.forms {
  filter: drop-shadow(0 4px 4px rgba(0.25, 0.25, 0.25, 0.25));
  width: 100%;
  height: 90%;
  margin-top: 2%;
}
.divInfo {
  width: 100%;
  height: 100%;

  text-align: center;
}
#user {
  margin-top: 10%;
}
.Infos {
  width: 80%;
  height: 45%;
  background-color: #f8f9fa;
  margin-left: 10%;
  margin-top: 5%;
  filter: drop-shadow(0 4px 4px rgba(0.25, 0.25, 0.25, 0.25));
  border-right: 7px solid #e3f8f9;
  border-bottom: 7px solid #e3f8f9;
}
.userdatalabel {
  width: 20%;
  float: left;
  color: #6c757d;
  border: none;
  margin-top: 5%;
}
.userdataP {
  border: 1px solid #6c757d;
  background-color: #e9ecef;
  width: 60%;
  height: 12%;
  color: #6c757d;
  margin-left: 5%;
  margin-top: 3%;
  text-align: left;
  padding-left: 1%;
  padding-top: 1%;
  font-weight: 200;
}
.divshow {
  width: 100%;
  height: 100%;
}
.card {
  width: 28%;
  height: 30%;
  background-color: #f8f9fa;
  float: left;
  margin-left: 4%;
  margin-top: 10%;
  text-align: center;
  border-radius: 10px;
}

h4 {
  margin-top: 25%;
  color: #445161;
  font-weight: 600;
}
#viewHx {
  color: #adb5bd;
}
.cardBUT {
  width: 30%;
  height: 20%;
  background-color: #e3f8f9;
  color: #5c959d;
  border: 2px solid #e3f8f9;
  border-radius: 25px;
  font-size: 15px;
  font-family: "Lobster", cursive;
  font-family: "Shalimar", cursive;
  font-family: "Titillium Web", sans-serif;
  margin-left: 35%;
}
.cardBUT:active {
  background-color: #e3f8f9;
  border: 2px solid #e3f8f9;
  box-shadow: 0 2px #e3f8f9;
  transform: translateY(1px);
}
.drgfrm {
  width: 95%;
  height: 90%;

  margin-top: 3%;
  margin-left: 3%;
  overflow: auto;
  overflow-x: hidden;
}
.medbt {
  width: 25%;
  height: 50px;
  background-color: #97d1d8;
  border: #97d1d8;
  color: white;
  font-size: 20px;
  font-weight: bold;
  margin-left: 5%;
  border-radius: 20px;
  border-left: 4px solid #5c959d;
  border-right: 4px solid #5c959d;
}
#closeBUt {
  background-image: url("/assets/pics/cancel.png");
  background-size: 100% 100%;
  width: 40px;
  height: 40px;
  float: right;
  border-radius: 50%;
  border: none;
  margin-top: 0;
  margin-left: 10%;
}
#required {
  font-size: 25px;
  color: red;
  float: right;
  margin-top: 8%;
  font-weight: bold;
}
/* ///////////////////////////////////////////////////pup up/////////////////////// */
.popupModal-dialog {
  position: absolute;
  width: 70%;
  left: 17%;
  top: 0;
  z-index: 1041;
}
.popupModal-content {
  position: relative;
  background-color: #ffffff;
  border: 1px solid #999999;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  background-clip: padding-box;
  outline: none;
  height: 800px;
}

.popupModal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  background-color: #000000;
  opacity: 0.5;
  filter: alpha(opacity=50);
}

.popupModal-body {
  position: relative;
  padding: 20px;
}

/* /////////////////////////////////////////////////SCROLL DESIGN ///////////////////////////////////////////////*/
/* width */
::-webkit-scrollbar {
  width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: 0 0 5px #dae7e7;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #5c959d;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #445161;
}
::-webkit-scrollbar-button {
  height: 5px;
}
