#strength-select,
#mthod-select {
  height: 35px;
}
#strength-select {
  float: right;
}
.labelFromin {
  font-size: 15px;
  color: #495057;
  font-weight: 100;
  margin-top: 5%;
  margin-left: 5%;
}

#when {
  margin-top: 20%;
}
/* /////////////////////////////////////// */
::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #6c757d;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #6c757d;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #6c757d;
}
