<form>
  <label for="">Medicine Name:</label>
  <div class="row">
    <div class="col-10">
      <select name="" id="name-select" class="form-control">
        <option value="">Please choose a medicine</option>
        <option value="" *ngFor="let item of drugs">{{ item?.Name }}</option>
      </select>
    </div>
  </div>
  <label for="">Details of medicine:</label>
  <br />
  <div class="row">
    <div class="col-2">
      <label for="" class="labelFromin">Form of medicine:</label>
    </div>
    <div class="col-8">
      <select name="" id="formof-select" class="form-control">
        <option value="">Form of medicine</option>
        <option value="1">Tablet</option>
        <option value="2">Capsules</option>
        <option value="3">Liquid</option>
        <option value="4">injection</option>
      </select>
    </div>
  </div>
  <br />
  <div class="row">
    <div class="col-2">
      <label for="" class="labelFromin">Strength:</label>
    </div>
    <div class="col-2 row">
      <input type="text" class="col-6 form-control" placeholder="#" />
      <select name="" id="strength-select" class="col-6 form-control">
        <option value="">mg</option>
        <option value="1">15</option>
        <option value="2">50</option>
        <option value="3">100</option>
        <option value="4">500</option>
        <option value="5">1000</option>
      </select>
    </div>
    <div class="col-2">
      <label for="" class="labelFromin">Method of Intake:</label>
    </div>
    <div class="col-4">
      <select name="" id="mthod-select" class="form-control">
        <option value="">Method of Intake</option>
        <option value="1">Oral</option>
        <option value="2">Injection</option>
        <option value="3">Sublingual and buccal</option>
        <option value="4">Otic</option>
        <option value="5">Nasal</option>
      </select>
    </div>
  </div>
  <label for="">Dosage:</label>
  <app-dosage *ngFor="let do of dos"></app-dosage>
  <span (click)="AddDosage()" id="addDosage"
    ><img src="assets/pics/plus.png" alt="" /> Add Another Dosage</span
  >
  <!-- dosage itration -->
  <label for="">Other Instructions:</label>
  <div class="row">
    <div class="col-10">
      <textarea
        id="other"
        class="form-control"
        rows="5"
        placeholder="Note to patient e.g Medicine to be taken 30 min before meal."
      ></textarea>
    </div>
  </div>
  <label for="">Duration:</label>
  <div class="row">
    <div class="col-5 dat">
      <label for="" class="col-3 labeldate">Start on:</label>
      <input
        class="col-7 form-control"
        type="date"
        id="start"
        value="2022-01-1"
      />
    </div>
    <div class="col-5 dat">
      <label for="" class="col-2 labeldate">Till:</label>
      <input
        class="col-7 form-control"
        type="date"
        id="till"
        value="2022-01-1"
      />
    </div>
  </div>
</form>
