/* form {
  
} */
label {
  margin-top: 2%;
}
/* [class*="col-"] {
  border: 1px solid green; 
} */
/* .row {
  border: 1px solid red; 
} */
#name-select,
#formof-select,
#strength-select,
#mthod-select {
  height: 35px;
}
#formof-select {
  width: 95%;
}
#strength-select {
  float: right;
}
#name-select {
  margin-left: 1%;
  width: 95%;
}
#other {
  margin-left: 1%;
  width: 95%;
}
.labelFromin {
  font-size: 15px;
  color: #495057;
  font-weight: 100;
  margin-top: 5%;
  margin-left: 5%;
}
.labeldate {
  font-size: 15px;
  color: #495057;
  font-weight: 100;
  margin-top: 5%;
}
#when {
  margin-top: 20%;
}
#addDosage {
  float: right;
  font-weight: bold;
  color: #5c959d;
  margin-right: 1%;
}
#start,
#till {
  float: right;
  margin-top: 2%;
  margin-right: 5%;
}
.dat {
  width: 50%;
}
/* /////////////////////////////////////// */
::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #6c757d;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #6c757d;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #6c757d;
}
