<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="container-fluid Sgn">
      <div class="row">
        <div class="col-4 C1">
          <h1>Sign up</h1>
          <p>
            to use all features <br />
            of the application
          </p>
          <img src="/assets/pics/Sign.jpg" alt="" />
        </div>
        <div class="col-6 C2">
          <div class="btns">
            <button
              id="first"
              (click)="Patient()"
              type="button"
              class="selected"
            >
              Patient
            </button>
            <button (click)="Doc()" type="button" class="">Doctor</button>
            <button (click)="Pharmacy()" type="button" class="">
              Pharmacy
            </button>
            <button (click)="TestLab()" type="button" class="">
              Tests Lab
            </button>
            <button (click)="XRays()" type="button" class="">X-Rays Lab</button>
          </div>
          <div class="frm">
            <div class="divform">
              <form *ngIf="F1">
                <fieldset>
                  <label>Name:</label>
                  <input
                    type="text"
                    placeholder="Type Your Name"
                    required
                  /><br /><br />

                  <label>ID:</label
                  ><span style="font-size: small; color: white"
                    >(National Id)</span
                  >
                  <input
                    type="text"
                    placeholder="Type Your ID"
                    required
                  /><br /><br />

                  <label>Phone Number:</label>
                  <input
                    type="text"
                    placeholder="Type Your Phone Number"
                    required
                  /><br /><br />

                  <label>Adress:</label>
                  <input
                    type="text"
                    placeholder="Type Your adress"
                    required
                  /><br /><br />
                  <label>Email:</label>
                  <input
                    type="email"
                    placeholder="Type Your email"
                    required
                  /><br /><br />
                  <label>Age:</label>
                  <input
                    type="number"
                    placeholder="Type Your age"
                    required
                  /><br /><br />

                  <label> Create Password:</label>
                  <input
                    type="password"
                    placeholder="Create A Password"
                    required
                  /><br /><br />

                  <label>Confirm Passowrd:</label>
                  <input
                    type="password"
                    placeholder="Confirm Your Password"
                    required
                    min="8"
                  /><br /><br />
                </fieldset>
              </form>
              <form *ngIf="F2">
                <fieldset>
                  <label>Name:</label>
                  <input
                    type="text"
                    placeholder="Type Your Name"
                    required
                  /><br /><br />

                  <label>ID: </label
                  ><span style="font-size: small; color: white"
                    >(Registration Number)</span
                  >

                  <input
                    type="text"
                    placeholder="Type Your ID"
                    required
                  /><br /><br />

                  <label>Phone Number:</label>

                  <input
                    type="text"
                    placeholder="Type Your Phone Number"
                    required
                  /><br /><br />

                  <label>Specialty:</label>

                  <input
                    type="text"
                    placeholder="Type Your Specialty"
                    required
                  /><br /><br />
                  <label>Email:</label>

                  <input
                    type="email"
                    placeholder="Type Your email"
                    required
                  /><br /><br />
                  <label>Adress:</label>

                  <input
                    type="text"
                    placeholder="Type Your Adress"
                    required
                  /><br /><br />
                  <label> Create Password:</label>

                  <input
                    type="password"
                    placeholder="Create A Password"
                    required
                  /><br /><br />

                  <label>Confirm Passowrd:</label>

                  <input
                    type="password"
                    placeholder="Confirm Your Password"
                    required
                  /><br /><br />
                </fieldset>
              </form>
              <form *ngIf="F3">
                <fieldset>
                  <label>Pharmacy Name:</label>

                  <input
                    type="text"
                    placeholder="Type Pharmacy Name"
                    required
                  /><br /><br />

                  <label>Pharmacy ID: </label
                  ><span style="font-size: small; color: white"
                    >(Registration Number)</span
                  >

                  <input
                    type="text"
                    placeholder="Type Pharmacy ID"
                    required
                  /><br /><br />

                  <label>Phone Number:</label>

                  <input
                    type="text"
                    placeholder="Type Pharmacy Phone Number"
                    required
                  />
                  <br /><br />
                  <label>Email:</label>

                  <input
                    type="email"
                    placeholder="Type Your email"
                    required
                  /><br /><br />
                  <label>Pharmacy Adress:</label>

                  <input
                    type="text"
                    placeholder="Type Pharmacy adress"
                    required
                  /><br /><br />

                  <label> Create Password:</label>

                  <input
                    type="password"
                    placeholder="Create A Password"
                    required
                  /><br /><br />

                  <label>Confirm Passowrd:</label>

                  <input
                    type="password"
                    placeholder="Confirm Your Password"
                    required
                  /><br /><br />
                </fieldset>
              </form>
              <form *ngIf="F4">
                <fieldset>
                  <label>Lab Name:</label>

                  <input
                    type="text"
                    placeholder="Type Lab Name"
                    required
                  /><br /><br />

                  <label>Lab ID: </label
                  ><span style="font-size: small; color: white"
                    >(Registration Number)</span
                  >

                  <input
                    type="text"
                    placeholder="Type Lab ID"
                    required
                  /><br /><br />

                  <label>Phone Number:</label>

                  <input
                    type="text"
                    placeholder="Type Lab Phone Number"
                    required
                  /><br /><br />

                  <label>Lab Adress:</label>

                  <input
                    type="text"
                    placeholder="Type Lab adress"
                    required
                  /><br /><br />
                  <label>Lab Email:</label>

                  <input
                    type="email"
                    placeholder="Type Lab E-mail"
                    required
                  /><br /><br />

                  <label> Create Password:</label>

                  <input
                    type="password"
                    placeholder="Create A Password"
                    required
                  /><br /><br />

                  <label>Confirm Passowrd:</label>

                  <input
                    type="password"
                    placeholder="Confirm Your Password"
                    required
                  /><br /><br />
                </fieldset>
              </form>
              <form *ngIf="F5">
                <fieldset>
                  <label>Lab Name:</label>

                  <input
                    type="text"
                    placeholder="Type Lab Name"
                    required
                  /><br /><br />

                  <label>Lab ID: </label
                  ><span style="font-size: small; color: white"
                    >(Registration Number)</span
                  >

                  <input
                    type="text"
                    placeholder="Type Lab ID"
                    required
                  /><br /><br />

                  <label>Phone Number:</label>

                  <input
                    type="text"
                    placeholder="Type Lab Phone Number"
                    required
                  /><br /><br />

                  <label>Lab Adress:</label>

                  <input
                    type="text"
                    placeholder="Type Lab adress"
                    required
                  /><br /><br />
                  <label>Lab Email:</label>

                  <input
                    type="email"
                    placeholder="Type Lab E-mail"
                    required
                  /><br /><br />

                  <label> Create Password:</label>

                  <input
                    type="password"
                    placeholder="Create A Password"
                    required
                  /><br /><br />

                  <label>Confirm Passowrd:</label>

                  <input
                    type="password"
                    placeholder="Confirm Your Password"
                    required
                  /><br /><br />
                </fieldset>
              </form>
            </div>

            <div class="divbut">
              <button id="ButS">Sign up</button>
              <span id="sin"
                >&nbsp;&nbsp;Already have an account?
                <a routerLink="/Login" routerLinkActive="active">&nbsp;Login</a>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
