/*make backgroung image in right side*/
.img-background{
  float: right;
}

/* Full-width inputs */
input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border: 2px solid ;
  border-radius: 12px;
  font-size: medium;
}

div[class="big-container"]{
  margin-right: 150px;
  width: 50%;
 
  
}
  
/* Set a style for all buttons */
button {
  color: white;
  margin: 8px 0;
  cursor: pointer;
  width: 100%;
  border: 2px solid ;
  border-radius: 12px;
  padding: 8px;
}

/* Add a hover effect for buttons */
button:hover {
  opacity: 0.8;
}

/* Center the avatar image inside this container */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}

/* Avatar image */
img.avatar {
  width: 25%;
  border-radius: 50%;
}

/* Add padding to containers */
.container {
  padding: 16px;
}

/* The "Forget password" text */
span.psw {
  float: right;
  padding-top: 16px;
}

/* Change styles for span */
@media screen and (max-width: 300px) {
  span.psw {
    display: block;
    float: none;
  }
}

