<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class=".container-fluid about2">
      <h1>We Provide You...</h1>
      <P>
        <span>A</span>n electronic prescription with you at all times to follow
        up on your medications in every follow-up with your doctor, a list of
        the x-rays that you have done and will do, and a list of your medical
        tests. We provide you with a list of doctors and pharmacies everywhere
        and medical laboratories to use our website in a wide field
      </P>
      <div class="row pics">
        <div class="col-sm-4 pcd">
          <img class="pc" src="/assets/pics/EP.jpg" alt="" />
          <div class="overlay">Electronic Prescription</div>
        </div>
        <div class="col-sm-4 pcd">
          <img class="pc" src="/assets/pics/test.jpg" alt="" />
          <div class="overlay">Medical Tests</div>
        </div>
        <div class="col-sm-4 pcd">
          <img class="pc" src="/assets/pics/Xrays.jpg" alt="" />
          <div class="overlay">x-rays</div>
        </div>
      </div>
    </div>
  </body>
</html>
