<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="container-fluid about2">
      <h2><span>About</span></h2>
      <div class="row r1">
        <h1 id="abouttt">Read to know some INFO about US</h1>
      </div>
      <div class="card">
        <img id="pic" src="/assets/pics/wallet.png" alt="" />
        <h1>Welcome to Wallet of your Medical history</h1>
        <P>
          <span>A</span>n electronic prescription with you at all times to
          follow up on your medications in every follow-up with your doctor, a
          list of the x-rays that you have done and will do, and a list of your
          medical tests. We provide you with a list of doctors and pharmacies
          everywhere and medical laboratories to use our website in a wide field
        </P>
      </div>
    </div>
  </body>
</html>
