.about2 {
  height: 800px;
  width: 75%;
}
h2 {
  width: 100%;
  text-align: center;
  border-bottom: 1px solid #ced4da;
  line-height: 0.1em;
  margin: 10px 0 20px;
  margin-top: 5%;
  font-family: "Barlow", sans-serif;
  font-family: "Inter", sans-serif;
  font-family: "Lobster", cursive;
  font-family: "Luckiest Guy", cursive;
  font-family: "Patrick Hand", cursive;
  font-family: "PT Sans", sans-serif;
  font-family: "Quintessential", cursive;
  font-family: "Shalimar", cursive;
  font-family: "Titillium Web", sans-serif;
}

h2 span {
  background: #fff;
  padding: 0 10px;
}
.r1 {
  margin-left: 5%;
  margin-top: 5%;
  margin-right: 2%;
}

h1 {
  text-align: center;
  font-family: "Barlow", sans-serif;
  font-family: "Inter", sans-serif;
  font-family: "Lobster", cursive;
  font-family: "Luckiest Guy", cursive;
  font-family: "Patrick Hand", cursive;
  font-family: "PT Sans", sans-serif;
  font-family: "Quintessential", cursive;
  font-family: "Shalimar", cursive;
  font-family: "Titillium Web", sans-serif;
  font-size: 20px;
  font-weight: 100;
  color: #6c757d;
}
.card {
  width: 70%;
  height: 60%;
  filter: drop-shadow(0 4px 4px rgba(0.25, 0.25, 0.25, 0.25));
  margin-left: 15%;
  margin-top: 2%;
  text-align: center;
}
#pic {
  width: 30%;
  height: 40%;
  margin-left: 35%;
  margin-top: 5%;
}
p {
  color: #6c757d;
  margin-top: 5%;
}
