<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="rgt-div">
      <img src="/assets/pics/forget-password.png">
    </div>

    <div class="lft-div">
    <form >
        <div class="icon">
            <img class="img-icon" src="/assets/pics/reset-password.png" alt="reset password">
        </div>
        
        <div class="container">
          <label for="uname"><b><h3>Telephone number you registered with:</h3></b></label>
          <input type="text" placeholder="Enter your phone number" name="uname" required>

          <button type="submit"><h3>Send</h3></button>
        </div>
      </form>
    </div>
</body>
</html>