/*div that contain background image*/
  .rgt-div{
    float: right;
  }

  /* Full-width inputs */
  input[type=text] {
    width: 70%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 2px solid ;
    border-radius: 12px;
    box-sizing: border-box;
    font-size: medium;
  }
  
  .icon {
    text-align: center;
    margin-left: 150px;
    width: 50%;
    padding-top: 30px;
  }

  /* Set a style for all buttons */
  button {
    color: white;
    background-color:cornflowerblue;
    padding:10px;
    margin: 8px 0;
    border: 2px solid ;
    border-radius: 12px;
    cursor: pointer;
    width: 70%;
  }
  
  /* Add a hover effect for buttons */
  button:hover {
    opacity: 0.8;
  }
/*style the icon image */
  .img-icon {
    width: 25%;
    border-radius: 50%;
  }
 
  
  /* Add padding to containers */
  .container {
    padding: 20px;
    margin-left: 150px;
    width: 50%;
  }
  
 
  
  