<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="container-fluid about1 A">
      <div class="row col-10">
        <div class="col-lg-4 col-sm-12 HeadDiv">
          <h1>Find your medical medicine, tests, radiology..</h1>
        </div>

        <div class="col-lg-4 col-sm-6 col-xs-6 imgdiv"></div>
        <div class="col-lg-3 col-sm-6 col-xs-6 wordDiv">
          <p>
            We will bring this to help you; we will also generate it ourselves.
            We will attract the very best doctors in our website to give you
            <span style="color: #5c959d"
              >&ensp;Your Electronic Prescription </span
            >; we will also use the newest treatments From medicines, radiology,
            and medical tests here . . .
          </p>
        </div>
      </div>
    </div>
  </body>
</html>
