.about1 {
  background-image: url("/assets/pics/Home.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 610px;
}
#img {
  width: 449px;
  height: 500px;
}
.imgdiv {
  text-align: center;
  padding-top: 40px;
  padding-left: 20px;
}
.lft {
  padding-top: 25px;
  margin-left: 0;
}
p {
  padding-top: 50px;
  padding-left: 20px;
  font-size: 20px;
  font-weight: bold;
  font-family: "Lobster", cursive;
  font-family: "Shalimar", cursive;
  font-family: "Titillium Web", sans-serif;
}
.rt {
  height: 500px;
  width: 250px;
  margin-top: 40px;
  background-color: white;
  margin-left: 0;
}
h1 {
  font-family: "Lobster", cursive;
  font-family: "Shalimar", cursive;
  font-family: "Titillium Web", sans-serif;
  font-weight: bold;
  font-size: 30px;
  color: black;
  position: absolute;
  top: 400px;
  margin-left: 0;
}
