.overview {
  height: 900px;
  width: 75%;
  text-align: center;
}
h2 {
  width: 100%;
  text-align: center;
  border-bottom: 1px solid #ced4da;
  line-height: 0.1em;
  margin: 10px 0 20px;
  margin-top: 5%;
  font-family: "Barlow", sans-serif;
  font-family: "Inter", sans-serif;
  font-family: "Lobster", cursive;
  font-family: "Luckiest Guy", cursive;
  font-family: "Patrick Hand", cursive;
  font-family: "PT Sans", sans-serif;
  font-family: "Quintessential", cursive;
  font-family: "Shalimar", cursive;
  font-family: "Titillium Web", sans-serif;
}

h2 span {
  background: #fff;
  padding: 0 10px;
}
#someinfo {
  color: #6c757d;
  margin-top: 5%;
  font-size: 25px;
}
.pc {
  text-align: center;
  width: 250px;
  height: 300px;
  border-radius: 2%;
  border-bottom: 7px solid #5c959d;
  border-right: 5px solid #5c959d;
  border-left: 5px solid #5c959d;
}
.pics {
  padding-top: 5%;
}
.pc:hover {
  box-shadow: 8px 8px 10px rgb(216, 211, 211), -3px -3px 10px rgb(228, 228, 228);
}
.overlay {
  position: absolute;
  bottom: 0;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5); /* Black see-through */
  color: #f1f1f1;
  width: 250px;
  transition: 0.5s ease;
  opacity: 0;
  color: white;
  font-size: 20px;
  padding: 20px;
  margin-left: 13%;
}
#p1 {
  margin-top: 5%;
}
p {
  color: #6c757d;
  font-size: 18px;
}
.pcd:hover .overlay {
  opacity: 1;
}
span {
  font-size: 50px;
}
