<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="container-fluid overview">
      <h2><span>OverView</span></h2>
      <p id="someinfo">Here we will explain what we can provide to you</p>
      <div class="row pics">
        <div class="col-sm-4 pcd">
          <img class="pc" src="/assets/pics/EP.jpg" alt="" />
          <div class="overlay">Electronic Prescription</div>
        </div>
        <div class="col-sm-4 pcd">
          <img class="pc" src="/assets/pics/test.jpg" alt="" />
          <div class="overlay">Medical Tests</div>
        </div>
        <div class="col-sm-4 pcd">
          <img class="pc" src="/assets/pics/Xrays.jpg" alt="" />
          <div class="overlay">x-rays</div>
        </div>
      </div>
      <p id="p1">
        Your doctor write your electonic prescription and you can get it from
        some pharmacies that connected to our App , here you can found a list of
        this pharmacies with thier locations .
      </p>
      <p>
        If your doctor write you for some medical tests, you can easly go to
        some medical laboratories linked to our App and do this tests there .
      </p>
      <p>
        If your doctor write you for some medical X-Rays, you can easly go to
        some medical laboratories linked to our App and get what you want.
      </p>
    </div>
  </body>
</html>
