<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="container-fluid Patient_page">
      <div class="row r1">
        <!--------------------------------------- COL1------------------------------------------------>

        <div class="col-1 COL1">
          <!-- <div class="navbar1">
            <h4>Your Prescriptions</h4>
          </div> -->
          <button id="tap-1" class="clicked" (click)="ChoosePrescription()">
            <img
              id="picprescription"
              class="icons"
              src="/assets/pics/medical-history.png"
              alt=""
            />
            <br /><br />
            Prescriptions
          </button>

          <button id="tap-2" (click)="ChooseTests()">
            <img class="icons" src="/assets/pics/microscope.png" alt="" />
            <br /><br />
            Medical tests
          </button>
          <button id="tap-3" (click)="ChooseXRays()">
            <img class="icons" src="/assets/pics/x-ray.png" alt="" />
            <br /><br />
            Medical X-Rays
          </button>
        </div>
        <!--------------------------------------- COL2------------------------------------------------>
        <div class="col-3 COL2">
          <div class="card1">
            <!-- <img id="personIcon" src="/assets/pics/profile.png" alt="" /> -->
            <h3 id="Name">Patient Name{{ Name }}</h3>
            <h5 id="Age">Age {{ Age }}</h5>
          </div>
          <p class="P1">{{ Contient }} Content :</p>

          <div class="card2">
            <!-- /////////// -->
            <div class="search p1">
              <input type="search" class="search-box" />
              <span (click)="SearchClick1()" class="search-button">
                <span class="search-icon"></span>
              </span>
            </div>
            <!-- /////////// -->
            <div class="content" *ngIf="Content_Prescription">
              <div
                class="Presc"
                (click)="ShowPresc(item)"
                *ngFor="let item of Prescription"
              >
                <span id="SpanPres">Prescription </span>
                <span id="date"> {{ item?.Date | date: "longDate" }}</span>
              </div>
            </div>
            <div class="content" *ngIf="Content_Tests">
              <div
                class="Presc"
                (click)="ShowTest(item)"
                *ngFor="let item of MTeats"
              >
                <span id="SpanPres">Medical Test </span>
                <span id="date"> {{ item.Date }}</span>
              </div>
            </div>
            <div class="content" *ngIf="Content_XRays">
              <div
                class="Presc"
                (click)="ShowXRay(item)"
                *ngFor="let item of MXRays"
              >
                <span id="SpanPres">Medicals X-Ray </span>
                <span id="date"> {{ item.Date }}</span>
              </div>
            </div>
          </div>
          <p class="P1">Notification :</p>

          <div class="card3">
            <!-- /////////// -->
            <div class="search p2">
              <input type="search" class="search-box" />
              <span (click)="SearchClick2()" class="search-button">
                <span class="search-icon"></span>
              </span>
            </div>
            <!-- /////////// -->
            <div class="notification">
              <div></div>
            </div>
          </div>
        </div>
        <!--------------------------------------- COL3------------------------------------------------>

        <div class="col-7 COL3">
          <div class="detail" id="detailCon">
            <h1 class="HeadersDetail">{{ Detail }} Details:</h1>
            <div *ngIf="Detail_Prescription" class="DetailPrescription">
              <h4>Doc name:</h4>
              <h5>Prescription Date:</h5>
              <div class="med">
                <!-- *ngFor="let med of meds" -->
                <label class="userdatalabel">Medicine name:</label>
                <label class="userdataP">Name</label>
                <label class="userdatalabel">Form of Medicine</label>
                <label class="userdataP">Name</label>
                <label class="userdatalabel">Strength:</label>
                <label class="userdataP">Name</label>
                <label class="userdatalabel">Method of Intake:</label>
                <label class="userdataP">Name</label>
                <label class="userdatalabel">Dosage:</label>
                <label class="userdataP" id="datap">
                  <!-- ngfor -->
                  <p>dose1</p>
                  <p>dose1</p>
                  <p>dose1</p>
                </label>
                <label class="userdatalabel">Other instractions:</label>
                <label class="userdataP" id="datap">Name</label>
              </div>
              <br />
              <br />
            </div>
            <div *ngIf="Detail_Tests" class="DetailTests">
              <div class="listd">
                <h5 id="H5TR" class="h5h6TR">Doc name:</h5>
                <h6 class="h5h6TR">Test Date:</h6>
                <label class="userdatalabelTR">Test name:</label>
                <label class="userdataPTR">Name</label>
              </div>
            </div>
            <div *ngIf="Detail_XRays" class="DetailXRays">
              <div class="listd">
                <h5 h5 id="H5TR" class="h5h6TR">Doc name:</h5>
                <h6 class="h5h6TR">X-Ray Date:</h6>
                <label class="userdatalabelTR">X-Ray name:</label>
                <label class="userdataPTR">Name</label>
              </div>
            </div>
          </div>
          <div class="result" *ngIf="TestXRaysOnly">
            <!-- //////////////// -->
            <!--   <div *ngIf="Result_Pescription" class="Prescrip">
              <img id="giff" src="/assets/pics/medicine.gif" alt="" />
              <h3 id="H3Result">
                Take your medication regularly and stay healthy
              </h3>
              <img id="Doc1" src="/assets/pics/Doc2.jpg" alt="" />
              <img id="Doc2" src="/assets/pics/Doc1.jpg" alt="" />
            </div> -->
            <!-- //////////////// -->
            <div *ngIf="Result_Tests" class="Tests">
              <h1 class="HeadersResult">Your Test Result:</h1>
            </div>
            <!-- //////////////// -->
            <div *ngIf="Result_XRay" class="Tests">
              <h1 class="HeadersResult">Your X-Ray Result:</h1>
            </div>
          </div>
          <!--   <div class="info">
            <img id="InfoImg" src="/assets/pics/solidarity.png" alt="" />
            <h2 id="InfoH2">How is your health today?</h2>
            <p id="InfoP">
              Here you can track your Medical History <br />
              We are happy to help you to do that <br />
            </p>
          </div> -->
        </div>
      </div>
    </div>
  </body>
</html>
