.f2 {
  width: 100%;
  height: 450px;
}
.fter {
  width: 100%;
  height: 470px;
  background-color: #445161;
}

p {
  padding-left: 20px;
  font-size: 30px;
  color: white;
  font-family: "Lobster", cursive;
  font-family: "Shalimar", cursive;
  font-family: "Titillium Web", sans-serif;
}
.rw2 {
  width: 100%;
  height: 350px;
}
.rw3 {
  width: 100%;
}
.CONrow2 {
  padding-top: 50px;
  padding-left: 100px;
}
.R2 {
  padding-left: 130px;
}
h3 {
  font-weight: bold;
  color: white;
  font-size: 20px;
}
.hr {
  padding-top: 30px;
  padding-left: 150px;
  width: 1130px;
  color: white;
  font-weight: bold;
}
.fot {
  padding-top: 10px;
  font-size: 12px;
}
.contD {
  color: white;
  padding-top: 250px;
  font-size: 20px;
}
.cont {
  padding-left: 450px;
  width: 500px;
  height: 200px;
}

.socialcon {
  height: 100px;
  padding-left: 650px;
}
.icon {
  margin: 15px;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  transition: transform 0.2s;
}

img:hover {
  text-shadow: 2px 2px white;
  transform: scale(1.1);
}
