.Sgn {
  background-color: #dae7e7;
  width: 100%;
  height: 900px;
  margin-top: 3%;
  filter: drop-shadow(0 4px 4px rgba(0.25, 0.25, 0.25, 0.25));
}
.row {
  height: 100%;
  width: 90%;
  margin-left: 12%;
  margin-top: 5%;
}
.C1 {
  background-color: white;
  height: 77%;
}

h1 {
  text-align: center;

  font-family: "Lobster", cursive;
  font-family: "Shalimar", cursive;
  font-family: "Titillium Web", sans-serif;
}
p {
  font-family: "Lobster", cursive;
  font-family: "Shalimar", cursive;
  font-family: "Titillium Web", sans-serif;
  text-align: center;
  font-size: 15px;
}
img {
  width: 100%;
  height: 78%;
  margin-bottom: 5%;
}

.C2 {
  background-color: #445161;
  height: 77%;
}
.btns {
  float: right;
  margin-top: 3%;
  border-radius: 20px;
  font-weight: bold;
  font-size: 10px;
}
button {
  background-color: #3b445b;
  border: 2px solid #3b445b;
  color: white;
  height: 30px;
  font-family: "Lobster", cursive;
  font-family: "Shalimar", cursive;
  font-family: "Titillium Web", sans-serif;
}
#first {
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
  border-right: 1px solid #3b445b;
}
#last {
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
  border-left: 1px solid #3b445b;
}
button:active {
  background-color: #5c959d;
  border: 2px solid #5c959d;
  box-shadow: 0 2px #5c959d;
  transform: translateY(1px);
}
button:hover {
  background-color: #5c959d;
  border: 2px solid #5c959d;
}
button:visited {
  background-color: #5c959d;
  border: 2px solid #5c959d;
}
button:focus {
  background-color: #5c959d;
  border: 2px solid #5c959d;
}
.selected {
  background-color: #5c959d;
  border: 2px solid #5c959d;
}
.frm {
  width: 100%;
  margin-top: 14%;
  height: 500px;
}
.divform {
  height: 80%;
}
input {
  width: 60%;
  font-family: "Lobster", cursive;
  font-family: "Shalimar", cursive;
  font-family: "Titillium Web", sans-serif;
  border: none;
  background-color: white;
  border-bottom: 1px solid #adb5bd;
}

::placeholder {
  color: #445161;
  font-size: 13px;
  opacity: 0.5;
}
fieldset {
  font-size: 15px;
  font-weight: bold;
  font-family: "Lobster", cursive;
  font-family: "Shalimar", cursive;
  font-family: "Titillium Web", sans-serif;
}
#IDSpan {
  font-size: 10px;
  color: white;
}
label {
  width: 25%;
  color: white;
  clear: both;
  float: left;
  margin-left: 5%;
}

#sin {
  font-size: 12px;
  color: white;
  font-family: "Lobster", cursive;
  font-family: "Shalimar", cursive;
  font-family: "Titillium Web", sans-serif;
}
a {
  color: #5c959d;
  font-size: 12px;
}
.divbut {
  height: 100px;
}
#ButS {
  width: 30%;
  height: 48%;
  border-radius: 25px;
  background-color: #5c959d;
  border: #5c959d;
  font-size: 20px;
  margin-left: 25%;
}
