<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class=".container-fluid Sgn">
      <h1>Sign &nbsp;&nbsp;&nbsp; Up as a</h1>
      <div class="butts">
        <a href="#" routerLink="/SignDoc" routerLinkActive="active">
          <button>Doctor</button></a
        >

        <a href="#" routerLink="/Signpatient" routerLinkActive="active"
          ><button>Patient</button></a
        >

        <a href="#" routerLink="/Signpharmacy" routerLinkActive="active"
          ><button>pharmacy</button></a
        >

        <a href="#" routerLink="/Signlabtest" routerLinkActive="active">
          <button>Tests Lab</button></a
        >

        <a href="#" routerLink="/SignlabXray" routerLinkActive="active">
          <button>X-Rays Lab</button></a
        >
      </div>
    </div>
  </body>
</html>
