<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class=".container-fluid Sgn">
      <h1>Sign &nbsp;&nbsp;&nbsp; Up as a</h1>
      <div class="butts">
        <button>
          <a href="" routerLink="/SignDoc" routerLinkActive="active"> Doctor</a>
        </button>

        <button>
          <a href="" routerLink="/Signpatient" routerLinkActive="active">
            Patient</a
          >
        </button>

        <button>
          <a href="" routerLink="/Signpharmacy" routerLinkActive="active"
            >pharmacy</a
          >
        </button>

        <button>
          <a href="" routerLink="/Signlabtest" routerLinkActive="active"
            >Tests Lab</a
          >
        </button>

        <button>
          <a href="" routerLink="/SignlabXray" routerLinkActive="active"
            >X-Rays Lab</a
          >
        </button>
      </div>
    </div>
  </body>
</html>
