<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form>
      <fieldset>
        <label>Name:</label>
        <input
          type="text"
          placeholder="Type Your Name"
          required
        /><br /><br /><br /><br />

        <label>ID:</label>
        <input
          type="text"
          placeholder="Type Your ID"
          required
        /><br /><br /><br /><br />

        <label>Phone Number:</label>
        <input
          type="text"
          placeholder="Type Your Phone Number"
          required
        /><br /><br /><br /><br />

        <label>Special:</label>
        <input
          type="text"
          placeholder="Type Your Special"
          required
        /><br /><br /><br /><br />

        <label> Create Password:</label>
        <input
          type="password"
          placeholder="Create A Password"
          required
        /><br /><br /><br /><br />

        <label>Confirm Passowrd:</label>
        <input
          type="password"
          placeholder="Confirm Your Password"
          required
        /><br /><br /><br /><br />

        <button>Submit</button>
      </fieldset>
    </form>
    <p>
      You Can!! <br /><br />
      You Are a Hero!!
    </p>
  </body>
</html>
