<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="container-fluid Forget">
      <div class="row RW">
        <div class="col-5">
          <img src="/assets/pics/Loog.png" alt="" />

          <div class="DivForm">
            <h1>Yo!Forgot Your Password?</h1>
            <h4>No Warries! Enter Your Email and we will send you a reset.</h4>

            <form>
              <input
                type="email"
                placeholder="Enter your Email"
                name="uname"
                required
              />
              <br />
              <button>Send</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
