.Pharmacy_page {
  /* background-image: url("/assets/pics/pharn.png"); */
  height: 800px;
  width: 80%;
  background-image: url("/assets/pics/FPic.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  margin-left: 10%;
  /*   background-repeat: no-repeat;
  background-size: cover; */
}
/* [class*="col-"] {
  border: 2px solid red;
} */
.srch {
  width: 45%;
  height: 50%;
  /* background-color: #5a8c93; */
  margin-left: 30%;
  margin-top: 4%;
  border-radius: 20px;
  /* border: 7px solid #445161; */
  position: relative;
}
.log {
  height: 90%;
  /*  border-radius: 70px; */
  /*   background-image: url("/assets/pics/FPic.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%; */
  margin-left: 4%;
  margin-top: 5%;
}
#frmsrch {
  background: rgba(255, 255, 255, 0.7);
  border-radius: 20px;
  width: 90%;
  height: 80%;
  margin-left: 5%;
  margin-top: 5%;
}
#labssn {
  margin-top: 10%;
  color: #5a8c93;
  font-size: 25px;
  text-shadow: 2px 2px 8px #97d1d8;
}
#inputsrch {
  height: 45px;
  width: 90%;
  margin-left: 5%;
  padding-left: 2%;
  font-size: large;
}
#bt {
  width: 40%;
  height: 50px;
  background-color: #97d1d8;
  border: #97d1d8;
  color: white;
  font-size: 20px;
  font-weight: bold;
  margin-left: 30%;
  margin-top: 5%;
  border-radius: 20px;
  border-left: 4px solid #5c959d;
  border-right: 4px solid #5c959d;
}
button:active {
  background-color: #5c959d;
  border: 2px solid #5c959d;
  box-shadow: 0 2px #5c959d;
  transform: translateY(1px);
}
#bt:active {
  background-color: #445161;
}
.testP {
  background-color: white;
  width: 100%;
  height: 80%;
  margin-left: 5%;
  border-bottom-left-radius: 70px;
  border-top-left-radius: 70px;

  margin-top: 10%;
}

.pageCon {
  width: 100%;
  height: 98%;
  margin-left: 0.05%;
}

.lft,
.rigt {
  height: 100%;
  float: left;
}
.rigt {
  overflow: auto;
  overflow-x: hidden;
  border-left: 3px solid #97d1d8;
  filter: drop-shadow(0 4px 4px rgba(0.25, 0.25, 0.25, 0.25));
}
#labelPharm {
  margin-top: 3%;
  margin-left: 3%;
  font-family: "Inter", sans-serif;
  font-family: "Lobster", cursive;
  font-family: "Luckiest Guy", cursive;
  font-family: "Patrick Hand", cursive;
  font-family: "Quintessential", cursive;
  font-family: "Shalimar", cursive;
  font-family: "Shizuru", cursive;
  font-family: "Titillium Web", sans-serif;
  font-size: 25px;
  color: #445161;
}
#phrtmIMG {
  width: 40px;
  height: 40px;

  border-radius: 5px;
}
@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.userpress {
  background-color: #d8e2dc;
  margin-top: 2%;
  width: 100%;
  height: 89.5%;
  border-bottom-left-radius: 70px;
}
#userPrsclabel {
  font-size: 15px;
  font-family: "Inter", sans-serif;
  font-family: "Lobster", cursive;
  font-family: "Luckiest Guy", cursive;
  font-family: "Patrick Hand", cursive;
  font-family: "Quintessential", cursive;
  font-family: "Shalimar", cursive;
  font-family: "Shizuru", cursive;
  font-family: "Titillium Web", sans-serif;
  color: #445161;
  margin-top: 15%;
  margin-left: 5%;
  font-weight: bold;
}
h4,
h5 {
  color: #445161;
  margin-left: 5%;
  margin-top: 5%;
  font-weight: bolder;
  font-size: 20px;
}
.med {
  width: 80%;
  height: 75%;
  margin-left: 10%;
  margin-top: 5%;
  border-radius: 10%;
  padding-top: 5%;
  background-color: #f8f9fa;
  filter: drop-shadow(0 4px 4px rgba(0.25, 0.25, 0.25, 0.25));
}
.userdatalabel {
  width: 30%;
  float: left;
  color: #6c757d;
  border: none;
  margin-top: 4%;
  margin-left: 2%;
}
.userdataP {
  border: 1px solid #6c757d;
  background-color: #e9ecef;
  width: 60%;
  height: 7%;
  color: #6c757d;
  margin-left: 5%;
  margin-top: 3%;
  text-align: left;
  padding-left: 1%;
  padding-top: 1%;
  font-weight: 200;
}
#datap {
  height: 15%;
}
.list {
  overflow: auto;
  overflow-x: hidden;
  background: rgba(255, 255, 255, 0.9);
  width: 95%;
  height: 80%;
  margin-top: 5%;
  margin-left: 2.5%;
}
#userdataP {
  border: 1px solid #6c757d;
  background-color: #e9ecef;
  width: 80%;
  height: 12%;
  color: #6c757d;
  margin-left: 5%;
  margin-top: 2%;
  text-align: left;
  padding-left: 1%;
  padding-top: 3%;
  font-weight: 200;
  border-radius: 20px;
}

#spanD {
  float: right;
  padding-right: 2%;
}
#SpanP {
  float: left;
}
/* background-color: #dddddd; */
/* /////////////SEARCH BAR//////////////// */
.wrapper {
  position: relative;
  display: flex;
  min-width: 100px;
  margin-top: 6%;
  margin-right: 2%;
}

.search {
  border: 1px solid white;
  border-radius: 5px;
  height: 30px;
  width: 100%;
  padding: 2px 23px 2px 30px;
  outline: 0;
  background: rgba(255, 255, 255, 0.9);
}

.search-icon {
  position: absolute;
  top: 20%;
  right: 1%;
  width: 14px;
}

.search:hover,
.search:focus {
  border: 1px solid #009688;
}

/* ////////ZoomIN ZoomOut /////// */
.zoom-in-zoom-out {
  animation: zoom-in-zoom-out 1s ease-out;
  animation-duration: 1;
  margin-top: 5%;
}
#required {
  font-size: 25px;
  color: red;
  float: right;
  margin-bottom: 8%;
  font-weight: bold;
}

@keyframes zoom-in-zoom-out {
  0% {
    transform: scale(0.5, 0.5);
  }
  /*  50% {
    transform: scale(1.2, 1.2);
  } */
  100% {
    transform: scale(1, 1);
  }
}
/* ///////////////////////////TEXT ANIMATION ///////////////////////*/
@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.waviy {
  /*  position: relative; */
  -webkit-box-reflect: below -20px linear-gradient(transparent, rgba(0, 0, 0, 0.2));
  margin-top: 6%;
  margin-left: 5%;
  font-size: 30px;
}
.waviy span {
  font-family: "Alfa Slab One", cursive;
  position: relative;
  display: inline-block;
  color: #5a8c93;
  text-transform: uppercase;
  animation: waviy 1s infinite;
  animation-delay: calc(0.1s * var(--i));
}
@keyframes waviy {
  0%,
  40%,
  100% {
    transform: translateY(0);
  }
  20% {
    transform: translateY(-20px);
  }
}
/* /////////////////////////////////////////////////SCROLL DESIGN ///////////////////////////////////////////////*/
/* width */
::-webkit-scrollbar {
  width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: 0 0 5px #dae7e7;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #5c959d;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #445161;
}
::-webkit-scrollbar-button {
  height: 5px;
}
