.Pharmacy_page {
  /* background-image: url("/assets/pics/pharn.png"); */
  height: 100vh;
  width: 100vw;
  background-color: #dae7e7;
  /*   background-repeat: no-repeat;
  background-size: cover; */
}
/* [class*="col-"] {
  border: 2px solid red;
} */
.srch {
  width: 45%;
  height: 50%;
  /* background-color: #5a8c93; */
  margin-left: 30%;
  margin-top: 4%;
  border-radius: 20px;
  /* border: 7px solid #445161; */
  position: relative;
}
.log {
  height: 90%;
  /*  border-radius: 70px; */
  background-image: url("/assets/pics/FPic.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  margin-left: 4%;
  margin-top: 2%;
}
#frmsrch {
  background: rgba(255, 255, 255, 0.7);
  border-radius: 20px;
  width: 90%;
  height: 80%;
  margin-left: 5%;
  margin-top: 5%;
}
#labssn {
  margin-top: 10%;
  color: #5a8c93;
  font-size: 25px;
  text-shadow: 2px 2px 8px #97d1d8;
}
#inputsrch {
  height: 45px;
  width: 90%;
  margin-left: 5%;
}
#bt {
  width: 40%;
  height: 50px;
  background-color: #97d1d8;
  border: #97d1d8;
  color: white;
  font-size: 20px;
  font-weight: bold;
  margin-left: 30%;
  margin-top: 5%;
  border-radius: 20px;
  border-left: 4px solid #5c959d;
  border-right: 4px solid #5c959d;
}
button:active {
  background-color: #5c959d;
  border: 2px solid #5c959d;
  box-shadow: 0 2px #5c959d;
  transform: translateY(1px);
}
#bt:active {
  background-color: #445161;
}
.page {
  width: 100%;
  height: 90%;
  /* margin-top: 5%; */
  margin-left: 5%;
  /*  animation: fadeInAnimation ease 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards; */
}
.nav {
  width: 100%;
  height: 10%;
  background-color: #5a8c93;
}
.pageCon {
  width: 100%;
  height: 98%;
  background-color: white;
  margin-left: 0.05%;
}

.lft,
.rigt {
  border: 1px solid #97d1d8;
  height: 100%;
  float: left;
}
#labelPharm {
  margin-top: 3%;
  margin-left: 3%;
  font-family: "Inter", sans-serif;
  font-family: "Lobster", cursive;
  font-family: "Luckiest Guy", cursive;
  font-family: "Patrick Hand", cursive;
  font-family: "Quintessential", cursive;
  font-family: "Shalimar", cursive;
  font-family: "Shizuru", cursive;
  font-family: "Titillium Web", sans-serif;
  font-size: 25px;
  color: #445161;
}
#phrtmIMG {
  width: 40px;
  height: 40px;
  background-color: #dae7e7;
  border-radius: 5px;
}
@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.userpress {
  background-color: #dddddd;
  margin-top: 2%;
  width: 100%;
  height: 89.5%;
}
#userPrsclabel {
  font-size: 15px;
  font-family: "Inter", sans-serif;
  font-family: "Lobster", cursive;
  font-family: "Luckiest Guy", cursive;
  font-family: "Patrick Hand", cursive;
  font-family: "Quintessential", cursive;
  font-family: "Shalimar", cursive;
  font-family: "Shizuru", cursive;
  font-family: "Titillium Web", sans-serif;
  color: #445161;
  margin-top: 15%;
  margin-left: 5%;
  font-weight: bold;
}
/* background-color: #dddddd; */
/* /////////////SEARCH BAR//////////////// */
.wrapper {
  position: relative;
  display: flex;
  min-width: 100px;
  margin-top: 6%;
  margin-right: 2%;
}

.search {
  border: 1px solid white;
  border-radius: 5px;
  height: 30px;
  width: 100%;
  padding: 2px 23px 2px 30px;
  outline: 0;
  background-color: white;
}

.search-icon {
  position: absolute;
  top: 20%;
  right: 1%;
  width: 14px;
}

.search:hover,
.search:focus {
  border: 1px solid #009688;
}
.list {
  /* edit */
  background-color: white;
  width: 95%;
  height: 80%;
  margin-top: 5%;
  margin-left: 2.5%;
}

/* ////////ZoomIN ZoomOut /////// */
.zoom-in-zoom-out {
  animation: zoom-in-zoom-out 1s ease-out;
  animation-duration: 1;
  margin-top: 0.5%;
}

@keyframes zoom-in-zoom-out {
  0% {
    transform: scale(0.5, 0.5);
  }
  /*  50% {
    transform: scale(1.2, 1.2);
  } */
  100% {
    transform: scale(1, 1);
  }
}
/* ///////////////////////////TEXT ANIMATION ///////////////////////*/
@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.waviy {
  /*  position: relative; */
  -webkit-box-reflect: below -20px linear-gradient(transparent, rgba(0, 0, 0, 0.2));
  margin-top: 6%;
  margin-left: 5%;
  font-size: 30px;
}
.waviy span {
  font-family: "Alfa Slab One", cursive;
  position: relative;
  display: inline-block;
  color: #5a8c93;
  text-transform: uppercase;
  animation: waviy 1s infinite;
  animation-delay: calc(0.1s * var(--i));
}
@keyframes waviy {
  0%,
  40%,
  100% {
    transform: translateY(0);
  }
  20% {
    transform: translateY(-20px);
  }
}
