<form>
  <label for="">Medical Test Name:</label>
  <div class="row">
    <div class="col-11">
      <select name="" id="name-select" class="form-control">
        <option value="">Please choose a Test</option>
        <!-- <option value="" *ngFor="let item of tests">{{item?.}}</option> -->
      </select>
    </div>
  </div>
  <br />
  <label for="">Other Instructions:</label>
  <div class="row">
    <div class="col-11">
      <textarea
        id="other"
        class="form-control"
        rows="5"
        placeholder="Note to patient ."
      ></textarea>
    </div>
  </div>
</form>
