<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class=".container-fluid">
      <div class="row">
        <div class="col-sm-6">
          <img src="/assets/pics/MA1.jpg" alt="" />
        </div>
        <div class="col-sm-6">
          <p>
            Your doctor write your electonic prescription and you can get it
            from some pharmacies that connected to our App , here you can found
            a list of this pharmacies with thier locations
          </p>
          <input type="button" value="READ MORE" />
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <p>
            If your doctor write you for some medical tests, you can easly go to
            some medical laboratories linked to our App and do this tests there
          </p>
          <input type="button" value="READ MORE" />
        </div>
        <div class="col-sm-6">
          <img id="Mid" src="/assets/pics/MA2.jpg" alt="" />
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <img src="/assets/pics/MA3.jpg" alt="" />
        </div>
        <div class="col-sm-6">
          <p>
            If your doctor write you for some medical X-Rays, you can easly go
            to some medical laboratories linked to our App and get what you want
          </p>
          <input type="button" value="READ MORE" />
        </div>
      </div>
    </div>
  </body>
</html>
