<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="container-fluid continer">
      <div class="row rowr">
        <div class="col-6">
          <img class="imgg" src="/assets/pics/MA1.jpg" alt="" />
        </div>
        <div class="col-6">
          <p>
            Your doctor write your electonic prescription and you can get it
            from some pharmacies that connected to our App , here you can found
            a list of this pharmacies with thier locations
          </p>
        </div>
      </div>
      <div class="row rowr">
        <div class="col-6">
          <p>
            If your doctor write you for some medical tests, you can easly go to
            some medical laboratories linked to our App and do this tests there
          </p>
        </div>
        <div class="col-6">
          <img class="imgg" id="Mid" src="/assets/pics/MA2.jpg" alt="" />
        </div>
      </div>
      <div class="row rowr">
        <div class="col-6">
          <img class="imgg" src="/assets/pics/MA3.jpg" alt="" />
        </div>
        <div class="col-6">
          <p>
            If your doctor write you for some medical X-Rays, you can easly go
            to some medical laboratories linked to our App and get what you want
          </p>
        </div>
      </div>
      <div class="row RW">
        <div class="col-6 COL1">
          <div class="contCOL1">
            <h2>
              Why Use<br />
              &nbsp; &nbsp; &nbsp; our App?
            </h2>
          </div>
        </div>
        <div class="col-6 COL2">
          <div class="contCOL2">
            <img id="logo" src="/assets/pics/icon.png" alt="" />
            <p id="wy">
              We help you to keep your medical history in your profile, all your
              medicine ,all your tests, all your X-rays in electronic page and
              get rid of all papers you may hold or lose them.
            </p>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
