* {
  box-sizing: border-box;
}

/* //////////////////////////////////////////////////////////////////////////////////////// */
.Nav {
  width: 100%;
  height: 10vh;
  background-color: white;
  filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
}
.row {
  height: 100%;
  width: 100%;
}
.DivLogo {
  height: 100%;
  width: 20%;

  display: flex;
  flex-flow: row nowrap;
  margin-left: 10%;
}
#logo {
  width: 37%;
  height: 52%;
  margin-top: 1%;
}

#H {
  height: 100%;
  width: 15%;
  margin-top: 0.5%;
  font-family: "Lobster", cursive;
  font-family: "Shalimar", cursive;
  font-family: "Titillium Web", sans-serif;

  position: absolute;
  margin-left: 4.8%;
}

#title {
  color: #5c959d;
  text-decoration: none;
}
#title:hover {
  text-shadow: #5c959d;
}
.SIGNN,
.LOGIN {
  width: 10%;
  height: 100%;
  text-align: center;
  padding-top: 1%;
  margin-left: 5%;
}
.SIGNN {
  margin-left: 45%;
}
.EditLS {
  border-bottom: 2px solid #5c959d;
}
#fn {
  font-family: "Barlow", sans-serif;
  font-family: "Inter", sans-serif;
  font-family: "Lobster", cursive;
  font-family: "Luckiest Guy", cursive;
  font-family: "Patrick Hand", cursive;
  font-family: "PT Sans", sans-serif;
  font-family: "Quintessential", cursive;
  font-family: "Shalimar", cursive;
  font-family: "Titillium Web", sans-serif;
  font-weight: 100;
  font-size: 22px;
  color: #ced4da;
}
#fn:hover {
  color: #5c959d;
  text-decoration: none;
}
#fn:active {
  text-decoration: none;
}
#fn:visited {
  text-decoration: none;
}
#fn:focus {
  text-decoration: none;
}
/* @media only screen and (max-width: 1421px) {
  /*  .Nav {
    height: 150px;
  } 
  .col2 {
    width: 48%;
  }
  .col3 {
    width: 42%;
  }
  .col1 {
    width: 10%;
  }
  .H {
    margin-top: 1%;
    font-size: 50px;
  }
  .tr1 {
    float: left;
    width: 30%;
    height: 100%;
    margin-left: 42%;
  }
  .tr2 {
    float: right;
    width: 28%;
    height: 100%;
  }
  #logo {
    border-radius: 50%;
    width: 100%;
    height: 100%;
  }
  .icns {
    color: white;
    font-size: 15px;
    margin-top: 3%;
  }
  .fn {
    font-family: "Lobster", cursive;
    font-family: "Shalimar", cursive;
    font-size: 25px;
  }
}
@media only screen and (max-width: 900px) {
  .col1 {
    width: 15%;
    height: 100%;
  }
  .col2 {
    width: 40%;
    height: 100%;
  }
  .col3 {
    width: 45%;
    text-align: center;
    height: 100%;
  }
  #logo {
    width: 90%;
  }

  .tr1 {
    float: left;
    width: 35%;
    height: 100%;

    margin-left: 35%;
  }
  .tr2 {
    float: right;
    width: 30%;
    height: 100%;
  }
  .icns {
    font-size: 15px;
  }
  .fn {
    font-family: "Lobster", cursive;
    font-family: "Shalimar", cursive;
    font-size: 25px;
  }
  .H {
    font-size: 43px;
    margin: 0;
    margin-top: 4%;
  }
}
@media only screen and (max-width: 783.99px) {
  .col1 {
    width: 20%;
    height: 100%;
  }
  .col2 {
    width: 50%;
    height: 100%;
  }
  .col3 {
    width: 30%;
    text-align: center;
    height: 100%;
  }
  #logo {
    width: 90%;
  }

  .tr1 {
    float: left;
    width: 55%;
    height: 100%;

    margin-left: 0;
  }
  .tr2 {
    float: right;
    width: 45%;
    height: 100%;
  }
  .icns {
    font-size: 10px;
  }
  .fn {
    font-family: "Lobster", cursive;
    font-family: "Shalimar", cursive;
    font-size: 20px;
  }
  .H {
    font-size: 43px;
    margin: 0;
    margin-top: 4%;
  }
}
@media only screen and (max-width: 783.99px) {
  .col1 {
    width: 15%;
    height: 100%;
  }
  .col2 {
    width: 60%;
    height: 100%;
  }
  .col3 {
    width: 25%;
    text-align: center;
    height: 100%;
  }
  #logo {
    width: 110%;
  }

  .Nav {
    height: 75px;
  }
  .tr1 {
    width: 80%;
    height: 50%;
    margin-left: 25%;
  }
  .tr2 {
    width: 80%;
    height: 50%;
  }
  .H {
    font-size: 43px;
    margin: 0;
    margin-top: 4%;
  }
  .icns {
    font-size: 12px;
    margin-top: 0;
    padding-bottom: 22%;
  }
  .fn {
    margin-bottom: 30%;
    font-size: 22px;
    padding-bottom: 2%;
  }
}
@media only screen and (max-width: 550px) {
  .col2 {
    width: 50%;
  }
  .col1 {
    width: 20%;
  }
  .col3 {
    width: 30%;
  }
  .tr1 {
    width: 90%;
    height: 50%;
    margin-left: 12%;
  }
  .tr2 {
    width: 100%;
    height: 50%;
  }
  .icns {
    font-size: 15px;
  }
  .fn {
    font-family: "Lobster", cursive;
    font-family: "Shalimar", cursive;
    font-size: 20px;
  }
  .H {
    font-size: 30px;
    margin: 0;
    margin-top: 9%;
  }
}
 */
