* {
  box-sizing: border-box;
}

/* //////////////////////////////////////////////////////////////////////////////////////// */
.Nav {
  /* width: auto; */
  background-color: #445161;
}



.DivLogo {
  height: 100%;
}

#logo {
  border-radius: 50%;
  width: 100%;
  height: 100%;
}

.DivHeader {
  height: 100%;
}


#title {
  height: 100%;
  width: 100%;
  color: white;
  text-decoration: none;
}

#title:hover {
  text-shadow: white;
}

.ContienerSL {
  height: 100%;
}

.SIGNN {
  height: 100%;
}

.LOGIN {
  height: 100%;
}


.fn {
  font-family: "Lobster", cursive;
  font-family: "Shalimar", cursive;
  font-family: "Titillium Web", sans-serif;
  font-size: 2vh;
}
.buttonssing{
  height: 100% !important;
  justify-content: center;
  align-items: center;
}
.buttonssing a span{
  color: white;
  font-size: 16px;
}

.buttonssing a:hover{
  text-decoration: none;
}
