<div class="container-fluid Nav">
  <div class="row">
    <div class="col-md-1 DivLogo">
      <img class="navbar" src="\assets\pics\logoo1.jpg" alt="" id="logo" />
    </div>
    <div class="col-md-8 DivHeader">
      <h1>
        <a id="title">Hx Wallet</a>
      </h1>
    </div>
    <div class="col-md-3">
      <div class="row buttonssing">
        <div class="col-md-6 ">
            <a  routerLink="/Signup" routerLinkActive="active">
              <span class="glyphicon glyphicon-user">
                <span class="fn">&ensp;Sign Up</span>
              </span>
            </a>
        </div>
        <div class="col-md-6 ">
            <a  routerLink="/Login" routerLinkActive="active"><span
                class="glyphicon glyphicon-log-in"><span class="fn">&ensp;Login</span>
              </span>
            </a>
        </div>
      </div>

    </div>
  </div>
</div>
