<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="container-fluid Nav sticky-top">
      <div class="row">
        <div class="DivLogo">
          <!-- //// -->
          <img class="navbar" src="\assets\pics\logoo1.jpeg" alt="" id="logo" />
          <h1 id="H">
            <a id="title" href="#">Hx Wallet</a>
          </h1>
        </div>
        <div id="About" class="about">
          <a
            class="fn"
            [routerLink]="['about']"
            [fragment]="'ABOUT'"
            routerLinkActive="active"
            (click)="A_Check()"
            >About</a
          >
        </div>
        <div id="Content" class="content">
          <a
            class="fn"
            [routerLink]="['content']"
            [fragment]="'CONTENT'"
            (click)="C_Check()"
            >Overview</a
          >
        </div>
        <div id="Sighin" class="SIGNN">
          <a
            class="fn"
            routerLink="/Signup"
            routerLinkActive="active"
            (click)="S_Check()"
            >Sign Up
          </a>
        </div>
        <div id="Login" class="LOGIN">
          <a
            class="fn"
            routerLink="/Login"
            routerLinkActive="active"
            (click)="L_Check()"
            >Login
          </a>
        </div>
      </div>
    </div>
  </body>
</html>
