<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class=".container-fluid SgnP">
      <div class="c1">
        <form>
          <fieldset>
            <label>Name:</label>
            <input
              type="text"
              placeholder="Type Your Name"
              required
            /><br /><br />

            <label>ID:</label><span style="font-size: small">National Id</span>
            <input
              type="text"
              placeholder="Type Your ID"
              required
            /><br /><br />

            <label>Phone Number:</label>
            <input
              type="text"
              placeholder="Type Your Phone Number"
              required
            /><br /><br />

            <label>Adress:</label>
            <input
              type="text"
              placeholder="Type Your adress"
              required
            /><br /><br />
            <label>Age:</label>
            <input
              type="number"
              placeholder="Type Your age"
              required
            /><br /><br />

            <label> Create Password:</label>
            <input
              type="password"
              placeholder="Create A Password"
              required
            /><br /><br />

            <label>Confirm Passowrd:</label>
            <input
              type="password"
              placeholder="Confirm Your Password"
              required
            /><br /><br />

            <button>Submit</button>
          </fieldset>
        </form>
        <!--    <p>Don't Worry!! You Will Be More Better!!</p> -->
      </div>
      <div class="c2">
        <img src="/assets/pics/ppre.jpg" alt="" />
      </div>
    </div>
  </body>
</html>
